:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --white:  #FFFFFF;

    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}
body {
    font-family: var(--main-font);
    color: var(--dark);
    font-size: 16px;
    letter-spacing: 0.02em
    position: relative;
width: 1440px;
height: 2590px;
background-color: var(--white);

}
a {text-decoration: none;}
.list {list-style: none;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  /* HEADER */
.header {display: flex;

height: 72px;
left: 0px;
top: 0px;
background: var(--white);
border-bottom: 1px solid var(--accent);}
/* LOGO */
.logo-container {display: flex;
    margin: 24px 76px 24px 156px;

    }

.header-logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--dark);
    text-decoration: none;
    letter-spacing: 0.03em;
  
    }
.header-logo-web {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--primary-brand);
    text-decoration: none;
    letter-spacing: 0.03em;


}
/* NAVIGATION */
.header-navigation {
    display: flex;
    gap: 40px;
    height: 24px;
    width: 261px;
    
}


.header-navigation-item {
   
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 1.5;
    color:  var(--dark);
    text-decoration: none;
    letter-spacing: 0.02em;
    font-size: 16px;
}

.header-navigation-item:hover {
color: var(--primary-brand);
text-decoration: none;
}
.header-navigation-item:focus {text-decoration: underline;
    
}
/* CURRENT*/
.current {
    color: var(--primary-brand);
}
/* CONTACTS */
.header-contacts {
    display: flex;
    gap: 40px;
    margin-left: 156px;
    width: 344;
}
.header-contacts-item {display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

    .header-contacts:hover, .header-contacts:focus 
    {color:var(--pressed-state);}


   /* HERO */
.hero-container {
    width: 1440px;
    height: 600px;
    left: 0px;
    Top:72px;
    background-color: var(--dark);
    align-items: center;
    
}
.main-heading-1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--white);
    letter-spacing: 0.02em;
    text-align: center;
    position: absolute;
    width: 498px;
    height: 120px;
margin: 212px 473px 48px 473px;
}
.main-button {    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
background-color: var(--primary-brand);

cursor: pointer;
color: var(--white);
border: none;
padding: 16px 32px;
position: absolute;
width: 169;
height: 56;
left: 636px;
top: 428px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;}

.main-button:hover, .main-button:focus {
     background-color: var(--pressed-state);
        }

        /* FEATURES */
.container
{display:flex;
    margin: 120px 156px 120px 156px;
}

.main-item-columns
{display: flex;
    gap: 24px;
    
}

/* WHAT WE ARE DOING */

.main-background{ 
    background:  var(--dark);
}

/* OUR TEAM */
.container-team
{display:flex; background-color: var(--light);
    height: 732px;
    width: 1440px;
    top: 1548px;
}



.main-heading-2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}
.main-pre-item{
    display: flex;
    gap: 24px;
    

}
.main-item {
    font-weight: 400;
    line-height: 1.5;

}
.main-heading-3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color:  var(--dark);
letter-spacing: 0.02em;
text-align: center;
}
.main-item-paragraph {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}
.main-pre-item-1 {
    display: flex;
gap: 24px;
width: 232px;
height: 56px;
margin-left: 156px;
}
.main-item-3 {
}
.main-item-paragraph-2 {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center;

}

.none {text-align: left;}

/* FOOTER */
.footer {
    background:  var(--dark);
    position: absolute;
width: 1440px;
height: 310px;
left: 0px;
top: 2280px;
bottom: 0px;
}
.footer-logo {font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: #F4F4FD;
    text-decoration: none;
    letter-spacing: 0.03em;
margin-left: 156px;
margin-top: 100px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.footer-paragraph {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: #E7E9FC;
    letter-spacing: 0.02em;
    margin: 16px 1020px 100px 156px;
}
/* PORTFOLIO */

.portfolio-body {
    height:2074px;
    width:1440px;
}
    /* FILTERS */

    .portfolio-main-filter {display: flex;
    margin: 96px 427px 72px 427px;
gap: 24px;}
.main-filter-button {display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    cursor: pointer;
    color: var(--primary-brand);
    letter-spacing: 0.04em;
    font-weight: 500;
line-height: 1.5;
background-color: var(--light);
border: 1px solid var(--accent);
border-radius: 4px;
font-family: var(--main-font);
font-size: 16px;
}
.main-filter-button:hover, .main-filter-button:focus {
    background-color: var(--pressed-state);
    color: var(--white);

}

    /* PICTURES */
    .portfolio-container {
      display: flex;
        
        height: 1356px;
        margin-left: 156px;
    }
.portfolio-main-paragraph {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

.gallery-list {display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;}

.portfolio-main-heading-3 {font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color:  var(--dark);
letter-spacing: 0.02em;
}

.portfolio-footer {width:1440px;
    height:310px;
    top:1764px}